# Database
DB_PORT=port
DB_HOST=hostname
DB_NAME=database
DB_USER=username
DB_PASSWORD=password

# Debug
DEBUG=True OR False

#secret key
SECRET_KEY=your-django-secret-key

#email service SMTP
GMAIL = your-mail-id
PASSWORD = your-email-service-password

