{% extends "expense/header.html" %}
{%block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'expense.css' %}">
{% if user.profile.category_confirmed %}
{% else %}
<P>PLEASE CONFIRM CATEGORIES FIRST</P>
{% endif %}
<P> Today's Total Category Wise</P>
<table border="1px">
    <tr>
        <th>Category</th>
        <th>Total</th>
    </tr>
    {% for category_total in category_totals %}
    <tr>
        <td>{{ category_total.category__name }}</td>
        <td>{{ category_total.total }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Total</th>
        <th>{{total_today}}</th>
    </tr>
</table>
<section>

<div class="expense-table">
<table border="1px">
        <tr>
            <th>Amount</th>
            <th>Category</th>
            <th>Transaction Medium</th>
            <th>Notes</th>
        </tr>
        {% for expense in todays_expenses %}
        <tr>
            <td>{{expense.amount}} </td>
            <td>{{expense.category}} </td>
            <td>{{expense.transaction_medium}} </td>
            <td>{{expense.notes}} </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="main">
<h2>Add New Expense</h2>
<form class="card" method="post">
  {% csrf_token %}
  {{ form }}

  <div class="wrap">
  <button type="submit">Add Expense</button>
  </div>
</form>
</div>

{% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endif %}
{% endblock content%}
</section>