{% extends "expense/header.html" %}
{%block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'expense.css' %}">

<div class="box expense-add">
<div class="main">
<h2>Add New Expense</h2>
<form class="card" method="post">
  {% csrf_token %}
  {{ form }}
 {% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endif %}
  <div class="wrap">
  <button type="submit">Add Expense</button>
 
  </div>
</form>
</div>
</div>
</div>

<div class="expense-table category">
    <p style="font-weight:bold; font-size:15px; color:#2e7d32; margin-left:0; margin-bottom:10px;"> Today's Total Expense Category Wise</p>
<table border="1px">
    <tr>
        <th>Category</th>
        <th>Total</th>
    </tr>
    {% for category_total in category_totals %}
    <tr>
        <td>{{ category_total.category__name }}</td>
        <td>{{ category_total.total }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Total</th>
        <th>{{total_today}}</th>
    </tr>
</table>
</div>
<div class="expense-table expense ">
        <p style="font-weight:bold; font-size:15px; color:#2e7d32; margin-left:0; margin-bottom:10px;"> Today's Expenses</p>

<table border="1px">
        <tr>
            <th>Amount</th>
            <th>Category</th>
            <th>Transaction Medium</th>
            <th>Notes</th>
        </tr>
        {% for expense in todays_expenses %}
        <tr>
            <td>{{expense.amount}} </td>
            <td>{{expense.category}} </td>
            <td>{{expense.transaction_medium}} </td>
            <td>{{expense.notes}} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content%}
