{% extends "expense/header.html" %}
{%block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'expense.css' %}">

<h1>Category Management</h1>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="box cat-box filter">

<h2>Add New Category</h2>
<form method="POST">
    {% csrf_token %}
    
    <input type="hidden" name="action" value="create">
    Category Name:  
    <input type="text" name="name" required>
    <button type="submit">Create</button>

</form>
<form method="POST">
    {% csrf_token %}    
    <input type="hidden" name="confirm" value="confirm">
    <button type="submit">Confirm Category</button>
</form>
</div>
<div class="box cat-box">
<h2>Your Categories</h2>
<table>
    <tr>
        <th>Category Name</th>
        <th>Actions</th>
    </tr>
    
    {% for category in categories %}
    <tr>  
        <td>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="update">
                
                <input type="hidden" name="category_id" value="{{ category.id }}">
                
                <input type="text" name="name" value="{{ category.name }}" required>
                
                <button type="submit">Update</button>
            </form>
        </td>
        
        <td>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="category_id" value="{{ category.id }}">
                
                <button class="dlt" type="submit">Delete</button>
            </form>
        </td>
        
    </tr>
    
    {% empty %}
    <tr>
        <td colspan="2">No categories found. Please create one above.</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content%}