{% extends "expense/header.html" %}
{%block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'expense.css' %}">

<div class="container">
	<form method="post" class="card">
	  {% csrf_token %}
	  <h2>Password Change</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  <div>
	    <button type="submit" class="btn btn-primary">Reset Password</button>
	  </div>
	</form>
</div>

{%endblock content%}
