{% extends "expense/header.html" %}

{%block content%}

<p>Hello, {{user.email}} </p> 

<form action="{% url 'expense:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<section class="dashbaord">
<P> {{current_month_name}}'s Total Expense</P>

<table border="1px">
    <tr>
        <th>Category</th>
        <th>Total</th>
    </tr>
    {% for category_total in category_totals %}
    <tr>
        <td>{{ category_total.category__name }}</td>
        <td>{{ category_total.total }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Total</th>
        <th>{{total_monthly}}</th>
    </tr>
</table>
<P> Recent Transaction</P>
<table border="1px">
    <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Transaction Medium</th>
        <th>Date</th>
        <th>Notes</th>
    </tr>
    {% for expense in recent_transactions %}
    <tr>
        <td>{{expense.amount}} </td>
        <td>{{expense.category}} </td>
        <td>{{expense.transaction_medium}} </td>
        <td>{{expense.date}} </td>
        <td>{{expense.notes}} </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No transactions found. Please create one.</td>
    </tr>
    {% endfor %}
</table>
</section>
{% endblock content%}