{% if user.is_authenticated %}
<header style="background-color: aqua;">
<img  src="{{ user.profile.profile_photo.url }}" alt="Image" height="50px" width="50px">
<h4 >{{user.profile.name}} </h4> 
</header>
<p>Hello, {{user.email}} </p> 
<form action="{% url 'expense:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<p>
  <a href="{% url 'expense:category' %}">Category</a>
</p>
<p>
  <a href="{% url 'expense:profile' %}">Update Profile</a>
</p>
<p>
  <a href="{% url 'expense:add_expense' %}">Add expense</a>
</p>
<a href="{% url 'expense:password_change' %}">Change Password</a>
{% endif %}