{% extends "expense/header.html" %}

{%block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'expense.css' %}">
<p style="padding: 16px 24px; font-weight:bold; font-size:15px; color:#333;">Hello, {{user.email}} </p> 


<div class="expense-table category-db" style="padding:16px;">
<p style="font-weight:bold; font-size:15px; color:#2e7d32; margin-left:0; margin-bottom:10px;"> {{current_month_name}}'s Total Expense</p>

<table border="1px">
    <tr>
        <th>Category</th>
        <th>Total</th>
    </tr>
    {% for category_total in category_totals %}
    <tr>
        <td>{{ category_total.category__name }}</td>
        <td>{{ category_total.total }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Total</th>
        <th>{{total_monthly}}</th>
    </tr>
</table>
</div>
<div class="expense-table expense-db" style="padding:16px;">
<p style="font-weight:bold; font-size:15px; color:#2e7d32; margin-left:0; margin-bottom:10px;"> Recent Transaction</p>
<div class="filter">
    <form method="GET">
        <label>Filter by Category:</label>
        <select name="category">
            <option value="" selected>All</option>
            {% for category in categories %}
            <option value="{{category.id}}">{{category}}</option>
            {% endfor %}
        </select>
        
        <label>Transaction medium:</label>
        <select name="transaction_medium">
            <option value="" selected>All</option>
            <option value="UPI">UPI</option>
            <option value="Credit Card">Credit Card</option>
            <option value="Net Banking">Net Banking</option>
            <option value="Cash">Cash</option>
            <option value="Other">Other</option>
        </select>
        
        <label>Start Date:</label>
        <input name="startdate" type="date"><br><br>
        
        <label>End Date:</label>
        <input name="enddate" type="date"><br><br>
        
        <button type="submit" class="filter-btn">Filter</button>
        <a href="{% url 'expense:all_expense' %}"><button type="button" class="filter-btn">Clear</button></a>
    </form>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
</div>

<table border="1px">
    <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Transaction Medium</th>
        <th>Date</th>
        <th>Notes</th>
    </tr>
    {% for expense in recent_transactions %}
    <tr>
        <td>{{expense.amount}} </td>
        <td>{{expense.category}} </td>
        <td>{{expense.transaction_medium}} </td>
        <td>{{expense.date}} </td>
        <td>{{expense.notes}} </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No transactions found. Please create one.</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content%}