{% if user.is_authenticated %}
<header style="background-color: aqua;">
<img  src="{{ user.profile.profile_photo.url }}" alt="Image" height="50px" width="50px">
<h4 >{{user.profile.name}} </h4> 
</header>
<p>     
    <a href="{% url 'expense:dashboard' %}">Dashboard</a>
</p>
<div class="filter">
    <label>Filter by Category:</label>
    <select name="category">
        <option value="" selected>All</option>
        {% for category in categories %}
        <option value="{{category.id}}">{{category}}</option>
        {% endfor %}
    </select>
    <label>Transaction medium:</label>
    <select name="transaction_medium">
        <option value="" selected>All</option>
        <option value="UPI">UPI</option>
        <option value="Credit Card">Credit Card</option>
        <option value="Net Banking">Net Banking</option>
        <option value="Cash">Cash</option>
        <option value="Other">Other</option>
    </select>
    <label>Start Date:</label>
    <input name="startdate" type="date"><br><br>
    <label>End Date:</label>
    <input name="enddate" type="date"><br><br>
</div>

<table border="1px">
    <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Transaction Medium</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>
    {% for expense in transactions %}
    <tr>
        <td>{{expense.amount}} </td>
        <td>{{expense.category}} </td>
        <td>{{expense.transaction_medium}} </td>
        <td>{{expense.date}} </td>
        <td>{{expense.notes}} </td>
        <td><button type="submit">Edit</button></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No transactions found. Please create one.</td>
    </tr>
    {% endfor %}
</table>
{% endif %}