{% extends "expense/header.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'expense.css' %}">
<div class="container">
<form method="POST" enctype="multipart/form-data"   >
	{% csrf_token %}
	<h2>Profile Update</h2>
	{{ form.as_p }}
	<button type="submit">Update</button>
</form>
{% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endif %}
<a href="{% url 'expense:password_change' %}">Change Password</a>
</div>
{% endblock content%}