{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block content %}
<div class="main">
  <h1>Personal Expense Tracker</h1>
  <h2>Register</h2>
<form class="card" method="POST" novalidate>
	{% csrf_token %}
	  {% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endif %}
	{{ form.as_p }}		

  <div class="wrap">
	<button type="submit">Register</button>
  </div>
  <a href="{% url 'expense:login' %}">Login</a>
</form>
</div>


        
{% endblock content%}
